body {
  margin: 0 auto;
  padding: 50px;
  font-family: Arial, sans-serif;
}
.container {
  width: fit-content;
  height: fit-content;
  border: 3px dashed red;
  padding: 25px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.box {
  width: 100px;
  height: 80px;
  background-color: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.special {
  color: red;
  justify-content: right;
  order: -3;
}
/*phone*/
@media screen and (max-width: 600px) {
  body {
    background-color: darkblue;
  }
  .box:nth-of-type(1) {
    order: -1;
  }
  .box:nth-of-type(2) {
    order: -2;
  }
  .box:nth-of-type(4) {
    order: -4;
  }
  .box:nth-of-type(5) {
    order: -5;
  }
  .box:nth-of-type(6) {
    order: -6;
  }
}
/*desktop*/
@media screen and (min-width: 600px) {
  .body {
    background-color: lightskyblue;
  }
}
